body{
    text-align: center;
    width: auto;
    min-width: 630px;
    background-color: #2D9CDB;
    color: black;
}
sup{
    font-size: 9px;
    font-weight: 600;
    font-family: monospace;
}
.res{
    width: max-content;
    padding: 3px;
    padding-bottom: 0px;
    margin: 5px;
    border-radius: 5px;
    text-align: justify;
}
.ac img{
    margin: auto;
}
.formas{
    border: 2px solid black;
    margin: 10px auto auto;
    height: 90px;
}
#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 500px;
    width: 100%;
}
#input{
    text-align: center;
    margin: 10px auto auto;
    padding: 10px;
    line-height: 1.5;
    width: 300px;
    border-radius: 6px;
}
#input,.res{
    background-color: white;
    border: 2px solid blue;
}
.red{
    color: red;
    font-weight: bold;
}
#res{
    display: none;
    width: 85%;
    padding: 10px 15px 10px;
}
input[type="number"]{
    width: 100px;
}
.center{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ac{
    width: calc(100% - 36px);
    display: flex;
    height: 55px;
    padding: 0 0 0 18px;
}
.res .circle{
    margin: -2px -2px auto auto;
}
#msg .circle{
    margin: -6px -11px auto 5px;
}
.w100{
    width: 100%;
}