body{
    background-color: rgb( 25, 102, 154);
}
section{
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px;
}
#res{
    width: 90%;
    padding: 10px 15px;
}
.res{
    border: 2px solid black;
    padding: 10px 15px ;
    margin: 10px 10px 0px 0px;
    width: auto;
    height: auto;
    text-align: left;
}
header{
    text-align: center;
}
input{
    width: 100px;
}
input[type="button"]{
    width: 115px;
}
.circle{
    margin: -8px -13px auto auto;
}
#grid{
    display: grid;
    grid-template-columns: auto auto;
}
#opcao-2{
    margin-left: 10%;
}
#fim{
    margin-left: 12px;
    margin-top: 3px;
}