@import url("public/css/Roboto-Slab.css");
@import url("public/css/fontes/literatta.css");
body {
  height: 100vh;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 999px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#container {
  border: solid rgba(60, 64, 67, 0.302);
  border-width: 1px 1px 1px 3px;
  border-left-color: green;
  width: 100%;
  display: block;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -ms-grid-rows: max-content auto;
      grid-template-rows: -webkit-max-content auto;
      grid-template-rows: max-content auto;
}

@media screen and (max-width: 999px) {
  #container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-right: none;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

#menu-lateral {
  height: 100%;
  width: 270px;
  float: left;
  border: solid rgba(60, 64, 67, 0.302);
  border-width: 0 1px 0 0;
  padding: 0 0 0 0;
  -ms-grid-column: 1;
  grid-column: 1/1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(max-content, calc( 100% - 275px)) 275px;
      grid-template-rows: minmax(-webkit-max-content, calc( 100% - 275px)) 275px;
      grid-template-rows: minmax(max-content, calc( 100% - 275px)) 275px;
}

@media screen and (max-width: 999px) {
  #menu-lateral {
    width: 300px;
    height: -webkit-min-content !important;
    height: -moz-min-content !important;
    height: min-content !important;
  }
}

ul {
  margin: 0;
  width: inherit;
  max-height: calc(100%);
  height: 100%;
  padding: 0;
  float: left;
  font-family: 'Literata', serif;
  font-size: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

li {
  border: solid rgba(60, 64, 67, 0.302);
  border-width: 0 0 1px 0;
  margin: 0;
  list-style: none;
  height: 45px;
  text-align: left;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  max-width: 300px;
  min-width: 260px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li:hover {
  background-color: #f1f3f4;
}

ul > li:last-child {
  border-bottom: none;
}

#msg {
  text-align: center;
  border-bottom: 1px solid rgba(60, 64, 67, 0.302);
  position: relative;
  top: 0;
  right: 0px;
  left: 0px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  float: right;
  margin: auto auto auto 0;
  min-height: 30px;
  height: auto;
  line-height: 30px;
  font-family: 'Roboto Slab', 'Literata' , serif;
  font-size: 15px;
}

@media screen and (max-width: 999px) {
  #msg {
    display: none;
  }
}

a {
  color: #0000EE;
}

#content {
  float: right;
  text-align: left;
  background-image: url("public/midia/preview.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 999px) {
  #content {
    display: none;
  }
}

#logo {
  width: 100%;
  margin: 1px -1px 0 0;
  border-top: 1px solid rgba(60, 64, 67, 0.302);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#logo img {
  max-width: 270px;
}

#main {
  text-align: center;
  padding: 0 10px;
}

#inst {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 10px auto;
}

.link {
  background-image: url("./public/midia/hyperlink.png");
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.link:hover {
  background-image: url("./public/midia/hyperlink-bold.png");
}

summary {
  list-style: none;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  padding-left: 15px;
}

summary:focus {
  outline: none;
}

details {
  width: 100%;
  border-bottom: 1px solid rgba(60, 64, 67, 0.302);
  cursor: pointer;
}

details summary::before {
  content: url("public/midia/rigth-arrow.png");
  width: 16px;
  height: 28px;
}

details[open] summary::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 16px;
  height: 19px;
}

details li:last-child {
  border-bottom: 1px solid rgba(60, 64, 67, 0.302);
}
/*# sourceMappingURL=index.css.map */