@import url('public/css/Roboto-Slab.css');
@import url('public/css/literatta.css');
body{
    height: 100vh;
    padding: 20px 30px;
    box-sizing: border-box;
    margin: 0;
    @media screen and (max-width:999px){
        display: flex;
        justify-content: center;
    }
}
#container{
    border: solid rgba(60,64,67,0.302);
    border-width: 1px 1px 1px 3px;
    border-left-color: green;
    width: 100%;
    display: block;
    min-height: calc(45px * 6 + 275px);
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    @media screen and (max-width:999px){
        width: max-content;
        border-right: none;
        height: min-content;
    }
}
#menu-lateral{
    height: 1em;
    width: 270px;
    float: left;
    border: solid rgba(60,64,67,0.302);
    border-width: 0 1px 0 0;
    padding: 0 0 0 0;
    @media screen and (max-width:999px){
        width: 300px;
        height: min-content !important;
    }
}
ul{
    margin: 0;
    width: inherit;
    height: calc(100% - 273px);
    padding: 0;
    float: left;
    font-family: 'Literata', serif;
    font-size: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}
iframe{
    width: 100%;
    //height:calc(100% - 1px);
    height: 100%;
    border: none;
}
li{
    border: solid rgba(60,64,67,0.302);
    border-width: 0 0 1px 0;
    margin: 0;
    list-style: none;
    height: 45px;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
    float: right;
    max-width: 300px;
    min-width: 260px;
    width: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover{
        background-color: #f1f3f4;
    }
}
ul > li:last-child{
    border-bottom: none;
    // @media screen and (max-width:999px){
    //     border-bottom: 1px solid rgba(60,64,67,0.302);
    // }
}
#msg{
    text-align: center;
    border-bottom: 1px solid rgba(60,64,67,0.302);
    position: relative;
    top: 0;
    right: -1px;
    left: 0px;
    float: right;
    margin:  auto auto auto -2px;
    min-height: 30px;
    height: auto;
    line-height: 30px;
    font-family: 'Roboto Slab', 'Literata' , serif;
    font-size: 15px;
    @media screen and (max-width:999px){
        display: none;
    }
}
a{
    color: #0000EE;
}
#content{
    float: right;
    text-align: left;
    background-image: url('public/midia/preview.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    @media screen and (max-width:999px){
        display: none;
    }
}
#logo{
    width: 100%;
    margin: 1px -1px 0 0;
    border-top: 1px solid rgba(60,64,67,0.302);
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        max-width: 270px;
    }
    // @media screen and (max-width:999px){
    //     border-top: none;
    // }
}
#main{
    text-align: center;
    padding: 0 10px;
}
#inst{
    width: max-content;
    margin: 10px auto;
}
.link{
    background-image: url('./public/midia/hyperlink.png');
    width: 30px;
    height: 30px;
    margin-right: 5px;
    &:hover{
        background-image: url('./public/midia/hyperlink-bold.png');
    }
}
summary{ 
    list-style: none; 
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 19px;
    padding-left: 15px;
    &::-webkit-details-marker { 
        display: none; 
    }
    &:focus{
        outline: none;
    }
}
details{
    width: 100%;
    border-bottom: 1px solid rgba(60,64,67,0.302);
    cursor: pointer;
    & summary::before{
        content: url('public/midia/rigth-arrow.png');
        width: 16px;
        height: 28px;
    }
    &[open] summary::before{
        transform: rotate(90deg); 
        width: 16px;
        height: 19px;
    }
    & li:last-child{
        border-bottom: 1px  solid rgba(60,64,67,0.302);
    }
}