#container{
    border: solid rgba(60,64,67,0.302);
    border-width: 1px 1px 1px 3px;
    border-left-color: green;
    width: calc(100% - 20px);
    display: block;
    height: calc(45px * 10 + 248px);
    padding: 0 0 0 0;
    margin: 10px 0;
}
#menu-lateral{
    height: inherit;
    width: 250px;
    float: left;
    border: solid rgba(60,64,67,0.302);
    border-width: 0 1px 0 0;
    padding: 0 -2px 0 0;
}
ul{
    margin: 0;
    width: inherit;
    height: calc(100% - 247px);
    padding: 0;
    float: left;
    font-family: 'Literata', serif;
    font-size: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}
object{
    width: 100%;
    height:calc(100% - 1px);
}
li{
    border: solid rgba(60,64,67,0.302);
    border-width: 0 0 1px 0;
    border-left: none;
    margin: 0;
    list-style: none;
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
    float: right;
    width: 250px;
    user-select: none;
}
li:hover{
    background-color: #f1f3f4;
}
#msg{
    text-align: center;
    border-bottom: 1px solid rgba(60,64,67,0.302);
    position: relative;
    top: 0;
    right: -1px;
    left: 0px;
    float: right;
    margin:  auto auto auto -2px;
    height: 30px;
    line-height: 30px;
    visibility: hidden;
    font-family: 'Roboto Slab', 'Literata' , serif;
    font-size: 15px;
}
a{
    color: #0000EE;
}
#content{
    float: right;
    text-align: left;
}
#logo{
    width: calc(250px - 3px);
    margin: -1px 0 0 0;
}
#main{
    text-align: center;
    padding: 0 10px;
}
#inst{
    width: max-content;
    margin: 10px auto;
}
.link{
    background-image: url('./midia/hyperlink.png');
    width: 30px;
    height: 30px;
    float: right;
    margin: 6px 5px 4px;
}
.link:hover{
    background-image: url('./midia/hyperlink-bold.png');
}
@font-face {
    font-family: 'Literata';
    src: url('./fontes/Literata-Regular-opsz=12.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face{
    font-family: 'Roboto Slab';
    src: url("./fontes/RobotoSlab-Medium.ttf");
    font-weight: 400;
}