#dados{
    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
    padding-top: 70px;
}
.num{
    width: 50px;
}
#menu{
    width: 400px;
    height: 200px;
    box-shadow: 5px 5px 10px black;
}
body{
    background-color: rgb(71, 71, 253);
}
#res{
    padding: 10px;
    width: 85%;
}
.res{
    border: 2px solid black;
    width: auto;
    padding: 5px 3px 0 10px;
    margin: 10px 5px 0 0;
    text-align: left;
}
.circle{
    margin: -2px 0 15px 5px;
}