body{
    background-color: rgba(143, 6, 143, 0.63);
}
#menu{
    width: 300px;
    padding: 15px;
}
input:invalid{
    border:3px solid red;
}
.color{
    width: 50px;
    height: 50px;
    margin: auto;
    border: 1px solid black;
}
#res{
    display: none;
    width: 83%;
    height: auto;
}
.res{
    border: 2px solid green;
    width: auto;
    padding: 5px;
    float: left;
    margin: 5px;
    padding-left: 10px;
    text-align: left;
    border-radius: 3px;
}
.circle{
    margin: -4px -4px auto auto;
}