#vel1{
    border-right: 1px solid black;
    padding-right: 5px;
}
#center{
    text-align: center;
}
body{
    background-color: rgb(50, 168, 40);
}
#menu{
    display: flex;
    width: 400px;
    margin: 30px auto;
    height: 200px;
}
#res{
    width: 83%;
    height: auto;
    text-align: center;
    padding: 5px 0;
}
.res{
    border: 2px solid black;
    width: auto;
    padding: 5px;
    float: left;
    margin: 5px;
    padding-left: 10px;
    text-align: left;
}
.circle{
    margin: -4px -4px auto 5px;
}
#centro-menu{
    margin: auto;
    text-align: center;
}
#kmh,#ms{
    width: 50px;
}
#input{
    margin-bottom: 10px;
}