body{
    background-color: #219653;
}
#menu{
    width: max-content;
    padding: 10px 30px;
    height: max-content;
}
#res{
    width: 90%;
    display: none;
    flex-wrap: wrap;
}
.res{
    border:2px solid blue;
    padding: 5px 5px 5px 10px;
    text-align: left;
    margin: 10px 5px;
    width: max-content;
}
.circle{
    margin: -4px -4px auto 5px;
}
input[type="text"]{
    padding-left: 4px;
}
input:focus{
    outline: 1px;
}