section{
    box-shadow: 5px 5px 10px;
    border-radius: 7px;
}
body{
    padding: 0;
    background-color: rgb(2, 96, 148); 
}
label{
    margin-left: 15px;
    user-select: none;
}
#menu{
    text-align: left;
    min-height: 150px;
    height: max-content;
    padding: 10px 40px;
    width: 270px;
}
#menu-grid{
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
}
#input-de{
    margin: 10px 0;
}
#convert{
    margin: auto;
    width: max-content;
}
.flex{
    display: flex;
    height: inherit;
    text-align: left;
    justify-content: center;
}
.tacenter{
    text-align: center;
}
.ml15px{
    margin-left: 15px;
}
.res{
    border:2px solid blue;
    padding: 5px 6px 5px 10px;
    text-align: left;
    margin: 10px 5px;
    width: max-content;
}
#res{
    padding: 5px;
    width: 90%;
    box-sizing: border-box;
}
.mg-auto{
    margin: 10px auto 0;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.circle{
    margin: -4px -5px auto 5px;
}