body{
    background-color: rgba(255, 115, 55, 0.849);
    color: white;
}
h1{
    width: max-content;
    margin: auto;
}
section{
    color: black;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}
#dados{
    margin: auto;
}
#menu{
    display: flex;
    width: 400px;
    margin: 30px auto;
}
#res{
    display: none;
    padding: 10px 15px 15px;
    margin-top: 0 auto 10px;
    width:85%;
    height: max-content;
}
.row{
    display: list-item;
    list-style: none;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin: 0 0 2px 0;
    border-radius: 2px;
}
tr{
    display: table-cell;
}
.res{
    border: 2px solid skyblue;
    padding: 3px;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    margin: 8px 5px 0 0;
}
.circle{
    float: none;
    margin: auto;
}