body{
    background-color:#69bdd2;
}
#menu{
    display: flex;
    width: 400px;
    padding: 15px;
}
#dados{
    padding: 10px 0 0;
    display: grid;
    grid-template-areas: 
        'input1 input2'
        'input3 input3';
}
.input1{
    grid-area: input1;
}
.input2{
    grid-area: input2;
}
.input3{
    grid-area: input3;
}
#res{
    width: 85%;
    padding: 5px 10px;
}
.res{
    border: 2px solid black;
    width: auto;
    padding: 5px;
    float: left;
    margin: 5px;
    padding-left: 10px;
    text-align: left;
}
.circle{
    margin: -3px -3px auto auto;
}
.hidden{
    display: none;
}
img{
    margin: auto;
}
input[type="number"]{
    width: 50px;
    margin: 0 15px 10px 0;    
}
input[type="button"]{
    margin-top: 10px;
    padding: 1px 6px;
}
.mauto{
    margin: auto;
}
.flright{
    float: right;
}