@font-face {
    font-family: 'Kreon';
    src: url('../../fontes/Kreon-SemiBold.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Kreon';
    src: url('../../fontes/Kreon-Light.ttf');
    font-style: normal;
    font-weight: 300;
}