body{
    background-color:#2EB8B5;
}
canvas{
    border: 1px solid black;
    background-color: white;
    margin: 10px auto 10px;
    display: none;
}
#upimg{
    display: none;
}
button{
    background-color: #0D6EFD;
    color: white;
    font-family: 'Nunito';
    font-size: 18px;
    grid-area: button;
    border: 1px solid black;
    border-radius: 3px;
    width: max-content;
    padding: auto 10px;
    margin: 10px auto 0;
    font-family: 'Roboto Slab';
}
#main{
    margin: auto;
    width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    width: max-content;
    padding: 0 20px 10px;
    box-sizing: border-box;
}
#download{
    display: none;
    width: auto;
    height: auto;
    justify-content: space-around;
}
button.download{
    font-size: 15px;
    font-family: 'Roboto Slab';
}